<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon" >
    <title>Разумны кошык</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>

    <script src="http://code.jquery.com/jquery-1.9.1.js">
    </script>

    <script>

        function give_elem(id){
            elem=
                `<div class="input-group mb-3 row control-group">
                    <div class="col">
                        <select class="form-select" name="category" id="control-group${id}">
                            <option selected>Выберите продукт</option>
                        {% for item in product_category %}
                            <option value= {{item}}>{{product_category[item]}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <input type="button" class="btn btn-primary col-lg-12" value="Удалить продукт" id="removeButton">
                    </div>
                </div>`
            return elem
        };

        $(document).ready(function () {
            $("#addButton").click(function () {
                const id = ($('.control-group').length + 1).toString();
                $('.control-table').append(give_elem(id));
            });
        });

        $(document).on("click", "#removeButton", function(){
            if ($('.control-group').length === 1) {
                alert("Как минимум один продукт должен быть выбран");
                return false;
            }
            $(this).parent().parent().remove();
        });

    </script>
</head>
<body>
    <form action="" method="POST">    
        <div class="container justify-content-around">
            <div class="input-group mb-3 row">
                <div class="input-group-prepend col">
                    <h4><span class="badge bg-primary col-lg-12">Выберите продукты</span></h4>
                </div>
            </div>

            <div class="input-group mb-3 row">
                <div class="input-group-prepend col" >
                    <span class="input-group-text" id="basic-addon1">Ваш адрес:</span>
                </div>

                <div class="col">
                    <div>
                        <input type="text" class="form-control" name = "address">
                    </div>
                </div>
            </div>

            <div class="input-group mb-3 row">
                <div class="input-group-prepend col">
                    <span class="input-group-text" id="basic-addon2 ">Сумма:</span>
                </div>

                <div class="col">
                    <div>
                        <input type="text" class="form-control" name = "money">
                    </div>
                </div>
            </div>
        </div>

        <div class="container justify-content-around control-table">
            <div class="input-group mb-3 row control-group">
                <div class="col">
                    <select class="form-select"  name="category" id="control-group1">
                        <option selected>Выберите продукт</option>
                        {% for item in product_category %}
                            <option value= {{item}}>{{product_category[item]}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col">
                    <input type='button' class="btn btn-primary col-lg-12" value='Удалить продукт' id='removeButton'>
                </div>
            </div>
        </div>

        <div class="container justify-content-around">
            <div class="input-group mb-3 row">
                <div class="col">
                    <input type='button' class="btn btn-primary col-lg-12" value="Добавить позицию" id='addButton'>
                </div>

                <div class="col">
                    <input type="submit" class="btn btn-primary col-lg-12" value="Расчитать" id="submit">
                </div>
            </div>
        </div>
    </form>   
</body>
</html>